{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
	<div class="d-flex flex-row-reverse">
		<div class="p-2"><form action="" method="get" class="form-inline">
			{% csrf_token %}
			{{ search_form|crispy }}
		<button type="submit" class="btn btn-dark">Search</button>
		</form></div>
	</div>
	<div class="container-fluid py-4">
	<button type="button" class="btn btn-flat large ">
		<a href="{% url 'agency:agent-create' %}">➕</a>
	</button>
      <div class="row">
	      <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">All Agents</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
							<div class="table-responsive">
								<table class="table align-items-center mb-0">
									<thead>
										<tr>
											<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Username</th>
											<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Full name</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Start work</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Detail</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Update</th>
										</tr>
									</thead>
									<tbody>
										{% for agent in agent_list %}
											<tr>
												<td>
													<div class="d-flex px-2 py-1">
														<div class="d-flex flex-column justify-content-center">
															<h6 class="mb-0 text-sm">{{ agent.username }}</h6>
														</div>
													</div>
												</td>
												<td class="align-middle">
													<div class="text-start">
														<span class="text-xs font-weight-bold">{{ agent.first_name }} {{ agent.last_name  }}</span>
													</div>
												</td>
												<td class="align-middle">
													<div class="text-center">
														<span class="text-xs font-weight-bold">{{ agent.email }}</span>
													</div>
												</td>
												<td class="align-middle">
															<div class="text-center">
																<span class="text-xs font-weight-bold">{{ agent.date_joined }}</span>
															</div>
												</td>
												<td class="align-middle">
													<div class="text-center">
														<span class="text-xs font-weight-bold">
															<a href='{% url "agency:agent-detail" pk=agent.id %}' class="btn btn-outline-dark">Detail</a>
														</span>
													</div>
												</td>
												<td class="align-middle">
													<div class="text-center">
														<span class="text-xs font-weight-bold">
															<a href='{% url "agency:agent-update" pk=agent.id %}' class="btn btn-outline-dark">Update</a>
														</span>
													</div>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
            </div>
          </div>
        </div>
      </div>
	</div>
{% endblock %}
