{% extends "base.html" %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block content %}
	<div class="container-fluid px-2 px-md-4">
		<div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('{% static 'img/profile.png' %}');">
			<span class="mask  bg-gradient-primary  opacity-6"></span>
		</div>
		<div class="card card-body mx-3 mx-md-4 mt-n6">
			<div class="row gx-4 mb-2">
				<div class="col-auto">
				</div>
				<div class="col-auto my-auto">
					<div class="h-100">
						<h5 class="mb-1"> {{ agent.first_name }} {{ agent.last_name }}</h5>
						<p class="mb-0 font-weight-normal text-lg">
							Agent
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
					<div class="nav-wrapper position-relative end-0">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="row">
					<div class="col-12 col-xl-4">
						<div class="card card-plain h-100">
						</div>
					</div>
				</div>
				<div class="col-12 col-xl-4">
					<div class="card card-plain h-100">
						<div class="card-header pb-0 p-3">
							<div class="row">
								<div class="col-md-8 d-flex align-items-center">
									<h6 class="mb-0">Profile Information</h6>
								</div>
								<div class="col-md-4 text-end">
									<a href="javascript:;">
										<i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="card-body p-3">
							<ul class="list-group">
								<li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Username:</strong> &nbsp;
									{{ agent.username}}</li>
								<li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">First name:</strong> &nbsp; {{ agent.first_name }}</li>
								<li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Last_name:</strong> &nbsp; {{ agent.last_name }}</li>
								<li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; {{ agent.email }}</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="card-body pt-4 p-3">
					{%if user.id == agent.id %}
						<div class="text-center">
							<row>
									<h3>Successful deal: <p class="text-success">{{ num_deals }}</p></h3>
							</row>
						</div>
						{% for area in agent.areas.all %}
							{% for client in area.clients.all %}
								{% if client.is_searching_for_property %}
								<ul class="list-group">
								<li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
									<div class="d-flex flex-column">
										<h6 class="mb-3 text-sm">Client: </h6>
										<span class="mb-2 text-xs">Full name:
											<span class="text-dark font-weight-bold ms-sm-2">{{ client.first_name }} {{ client.last_name }}</span>
										</span>
                    <span class="text-xs">Phone:
	                    <span class="text-dark ms-sm-2 font-weight-bold">{{ client.phone_number }}</span>
                    </span>
	                  <br>
	                  <h6 class="mb-3 text-sm">Comments: </h6>
	                  <span class="text-xs">
		                  <span class="text-dark ms-sm-2 font-weight-bold">{{ client.additional_info }}</span>
	                  </span>
                  </div>
                  <div class="ms-auto text-end">
                    <a class="btn btn-outline-dark text-dark px-3 mb-0" href="{% url "agency:client-update" pk=client.pk%}">Comment</a>
	                   <div class="ms-auto text-end">
		                   <br>
	                  <p><a class="btn btn-success text-white px-3 mb-0" href="{% url "agency:client-settled" pk=client.pk%}">Settled</a></p>
                  </div>
                </li>
								</ul>
								{% endif %}
							{% endfor %}
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="col-12 mt-4">
				<div class="mb-5 ps-3">
					<h6 class="mb-1">Properties</h6>
				</div>
				<div class="row">
					{%if agent.properties.all %}
						{% for property in agent.properties.all %}
							<div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
							<div class="card card-blog card-plain">
								<div class="card-header p-0 mt-n4 mx-3">
								</div>
								<div class="card-body p-3">
									<p class="mb-0 text-sm">{{ property.address }}</p>
									<p class="mb-4 text-sm">
										{{property.area.name }}
										<br>
									<div><button type="button" class="btn btn-outline-dark btn-sm mb-0 text-black-50">
										<a href='{% url "agency:property-detail" pk=property.id %}'>View Detail
										</a></button></div>
								</div>
								</div>
							</div>
						{% endfor %}
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
  {% endblock content %}

