{% extends "base.html" %}
	{% block title %}
		<p>Home</p>
	{% endblock %}

	{% block content %}
		<h1>Real estate agency</h1>
			<p>Our mission is to help individuals
				and families find safe and comfortable homes that meet their unique needs.
				We are proud to have helped {{ clients_found_home }} clients find their
				dream homes, and we continue to work tirelessly to assist even more people
				in the months and years to come.</p>
		<br>
		<p>We work in {{ count_area }} areas our city</p>
		<br>
		<p>Our command include {{ count_agent }} professionals</p>
	{% endblock %}