{% extends "base.html" %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1 class="text-primary">{{ property.title }}</h1>
				<p><strong>Type:</strong> <span class="text-muted">{{ property.property_type }}</span></p>
				<p><strong>Price:</strong> <span class="text-muted">{{ property.price }}</span></p>
				<p><strong>Address:</strong> <span class="text-muted">{{ property.address }}</span></p>
				<p><strong>Area:</strong> <span class="text-muted">{{ property.area }}</span></p>
				<p><strong>Description:</strong> <span class="text-muted">{{ property.description }}</span></p>


			</div>
		</div>
	</div>

{% endblock %}
