{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
	<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
  <div class="container-fluid py-1 px-3">
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group input-group-outline d-flex">
	        <form action="" method="get" class="form-inline">
		        <div class="d-flex">
			        {% csrf_token %}
              <div class="form-group mr-2">
                {{ search_form|crispy }}
              </div>
                <div class="ml-auto">
                <input type="submit" class="btn btn-outline-primary" value="Search">
                </div>
            </div>
					</form>
        </div>
      </div>
    </div>
  </div>
</nav>
	<div class="container-fluid py-4">
      <div class="row">
	      <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">All Properties</h6>
              </div>
            </div>
						<div class="card-body px-0 pb-2">
							<div class="table-responsive">
								<table class="table align-items-center mb-0">
									<thead>
										<tr>
											<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
											<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Type</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
											<th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Detail</th>
										</tr>
									</thead>
									<tbody>
										{% for property in property_list %}
											<tr>
												<td>
													<div class="d-flex px-2 py-1">
														<div class="d-flex flex-column justify-content-center">
															<h6 class="mb-0 text-sm">{{ property.title }}</h6>
														</div>
													</div>
												</td>
												<td class="align-middle">
													<div class="text-start">
														<span class="text-xs font-weight-bold">{{ property.property_type }}</span>
													</div>
												</td>
												<td class="align-middle">
													<div class="text-center">
														<span class="text-xs font-weight-bold">{{ property.created_at }}</span>
													</div>
												</td>
												<td class="align-middle">
													<div class="progress-wrapper w-75 mx-auto">
														<div class="progress-info">
															<div class="progress-percentage">
																<span class="text-xs font-weight-bold">{{ property.price }}</span>
															</div>
														</div>
													</div>
												</td>
												<td class="align-middle">
													<div class="text-center">
														<span class="text-xs font-weight-bold">
															<a href='{% url "agency:property-detail" pk=property.id %}' class="btn btn-primary">Detail</a>
														</span>
													</div>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
          </div>
	      </div>
		</div>
	</div>
{% endblock %}
