{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Logout{% endblock %}

{% block content %}
<main class="main-content mt-0">
	<div class="page-header align-items-start min-vh-100" style="background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fimg.freepik.com%2Ffree-vector%2Fshiny-white-gray-background-with-wavy-lines_1017-25101.jpg%3Fw%3D2000&tbnid=xxqqHKsaC2bMeM&vet=12ahUKEwj8-qr_nIv-AhUPhP0HHVASCjQQMygSegUIARDvAQ..i&imgrefurl=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fbackground&docid=bKJ3gdlWTtaNoM&w=2000&h=1142&q=background&ved=2ahUKEwj8-qr_nIv-AhUPhP0HHVASCjQQMygSegUIARDvAQ');">
		<span class="mask bg-gradient-dark opacity-6"></span>
		<div class="container my-auto">
			<div class="row">
				<div class="col-lg-4 col-md-8 col-12 mx-auto">
					<div class="card z-index-0 fadeIn3 fadeInBottom">
						<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
							<div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1"></div>
						</div>
						<div class="card-body">
							<div class="text-center">
								<p><strong>You have been securely logged out of your account. Thank you for using our service. Have a great day!</strong></p>
								<br>
								<div class="text-center">
									<button type="submit" class="btn bg-gradient-primary w-100 my-0 mb-2 text-white"><a href="{% url 'login' %}">Log in again</a></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% include 'includes/footer-fullscreen.html' %}
		</div>
	</div>
</main>
{% endblock %}
