{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card border border-dark">
          <div class="card-header bg-gradient-primary text-white text-center">
            <h6 class="text-capitalize">Logout Successful</h6>
          </div>
          <div class="card-body p-4">
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="text-center">
                <button type="submit" class="btn bg-gradient-primary w-100 my-0 mb-2">Sign in</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
