<footer class="mt-auto page-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-lg-right text-md-start">
        <h5 class="font-weight-bold mb-0">© 2023 Modern House Real Estate Agency</h5>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
	        <strong>E-mail: </strong>
	        <i class="fas fa-envelope font-italic"><h6 class="mb-0 d-inline-block ml-2">info@modernhouse.com</h6></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


