<footer class="footer py-4">
  <div class="container-fluid fixed-bottom">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="text-center text-sm text-muted text-lg-end text-left">
	        <strong> @Modern House Real Estate Agency.</strong>
        </div>
	      <div class="text-center text-sm text-muted text-lg-end text-right">
	        <strong> 2023 </strong>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</footer>
