{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Material Dashboard{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/main.png' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  </head>
  <body class="g-sidenav-show bg-gray-200">
    {% include "includes/sidebar.html" %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
      {% block content %}{% endblock %}
       {% block pagination %}
	       {% include "includes/pagination.html" %}
       {% endblock %}
    </main>
    {% include 'includes/scripts.html' %}
    {% block scripts %}{% endblock %}
  </body>
</html>

