{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Material Dashboard{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/main.png' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
    <style>
      body {
        background-image: url("{% static 'img/back.png' %}");
        background-size: cover;
        background-position: center;
      }
    </style>
  </head>
  <body class="g-sidenav-show bg-gray-200">
    {% include "includes/sidebar.html" %}
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
      {% block content %}{% endblock %}
       {% block pagination %}
	       {% include "includes/pagination.html" %}
       {% endblock %}
    </main>
    {% include 'includes/scripts.html' %}
    {% block scripts %}{% endblock %}
    {% include "includes/footer.html" %}
  </body>
</html>

